:root {
    --title-text-color: #2E2F42;
    --primary-text-color: #434455;
    --secondary-text-color: #4D5AE5;
    --third-text-color: #E7E9FC;
    --accent-color: #404BBF;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #F4F4FD;
    --card-set-gap: 24px;
    --mobile-set-gap: 16px;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
    /* outline: 1px solid tomato; */
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    /* outline: 1px solid tomato; */
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: 'Roboto', sans-serif;
    color: var(--title-text-color);
    background-color: var(--primary-bg-color);
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

/* ==================== COMPONENTS ==================== */

.section-title {
    margin-bottom: calc(var(--card-set-gap) * 3);

    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
    color: var(--title-text-color);
}

.text-title {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-text-color);
}

.text {
    color: var(--primary-text-color);
}

/* ==================== /COMPONENTS ==================== */

/* ==================== HEADER ==================== */

.page-header {
    margin: 0 auto;
    border-bottom: 1px solid var(--third-text-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: none;
}

.contacts {
    display: none;
}

.page-logo {
    padding-top: var(--card-set-gap);
    padding-bottom: var(--card-set-gap);

    margin-right: 120px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.second-word-logo {
    color: var(--title-text-color);
}

.menu-link.current {
    color: var(--accent-color);
}

.menu-link.current::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

    position: absolute;
    left: 0;
    bottom: 0;
}

.menu-link {
    position: relative;

    transition: color var(--transition-dur-and-func);
    padding-top: var(--card-set-gap);
    padding-bottom: var(--card-set-gap);

    font-weight: 500;
    color: var(--title-text-color);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.contacts-email,
.contacts-number {
    transition: color var(--transition-dur-and-func);
    padding-top: var(--card-set-gap);
    padding-bottom: var(--card-set-gap);

    font-style: normal;
    color: var(--primary-text-color);
}

.contacts-email:hover,
.contacts-email:focus,
.contacts-number:hover,
.contacts-number:focus {
    color: var(--accent-color);
}


/* Mobile menu */

.mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: auto;
    line-height: 0;

    cursor: pointer;
    transition: background-color var(--transition-dur-and-func),
        border-color var(--transition-dur-and-func);
}

.mobile-menu-open-btn:hover,
.mobile-menu-open-btn:focus {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.mobile-menu-open-btn:hover .mobile-menu-open-icon,
.mobile-menu-open-btn:focus .mobile-menu-open-icon {
    fill: var(--primary-bg-color);
}

.mobile-menu-open-icon {
    fill: var(--title-text-color);
    transition: fill var(--transition-dur-and-func);
}

.mob-menu-container {

    background-color: var(--primary-bg-color);
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    z-index: 999;

    transform: translateY(-100%);
    transition: transform var(--transition-dur-and-func);

}

.mob-menu-container.is-open {
    transform: translateX(0);
}


.mobile-menu-close-btn {
    transition: background-color var(--transition-dur-and-func),
        border-color var(--transition-dur-and-func);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    padding: 0;
    margin-left: auto;
    background-color: var(--third-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.mobile-menu-close-btn:hover .mobile-menu-close-icon,
.mobile-menu-close-btn:focus .mobile-menu-close-icon {
    fill: var(--primary-bg-color);
}

.mobile-menu-close-icon {
    fill: #000000;
    transition: fill var(--transition-dur-and-func);
}

.mob-menu {
    margin-top: var(--mobile-set-gap);
}

.mob-menu .mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.1;
    color: var(--title-text-color);
    transition: color var(--transition-dur-and-func);
}

.mob-menu-link:hover,
.mob-menu-link:focus {
    color: var(--accent-color);
}

.mob-menu-link.current {
    color: var(--accent-color);
}

.mob-menu-address {
    margin-top: auto;
}

.mob-menu-contacts .mob-menu-contacts-item:first-child {
    margin-bottom: 40px;
}

.mob-menu-contacts .mob-menu-contacts-item:last-child {
    margin-bottom: 48px;
}

.mob-menu-contacts-number {
    font-weight: 600;
    font-size: 23px;
    line-height: 1.1;
    font-style: normal;
    color: var(--secondary-text-color);
    transition: color var(--transition-dur-and-func);
}

.mob-menu-contacts-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    font-style: normal;
    color: var(--primary-text-color);
    transition: color var(--transition-dur-and-func);
}

.mob-menu-contacts-email:hover,
.mob-menu-contacts-email:focus,
.mob-menu-contacts-number:hover,
.mob-menu-contacts-number:focus {
    color: var(--accent-color);
}

.mob-menu-social-list {
    display: flex;
    justify-content: center;
    gap: 22px;
}

.mob-menu-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--secondary-text-color);
    transition: background-color var(--transition-dur-and-func);
}

.mob-menu-social-link:hover,
.mob-menu-social-link:focus {
    background-color: var(--accent-color);
}

.mob-menu-social-icon {
    fill: var(--secondary-bg-color);
}

/* ==================== /HEADER ==================== */

/* ==================== HERO ==================== */

.hero {
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero/bg-mobile-1x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding-top: 112px;
    padding-bottom: 112px;
    text-align: center;
    display: flex;
    align-items: center;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/bg-mobile-2x.jpg);
    }
}

.main-title {
    display: block;
    margin-bottom: 72px;
    max-width: 494px;
    margin-left: auto;
    margin-right: auto;

    font-size: 56px;
    line-height: 1.1;
    color: var(--primary-bg-color);
}

.modal-btn {
    transition: background-color var(--transition-dur-and-func);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: inline-block;
    border-radius: 4px;
    padding: 16px 32px;
    text-align: center;
    border: 1px solid transparent;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-bg-color);
    background-color: var(--secondary-text-color);
    cursor: pointer;

}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--accent-color);
}

/* ==================== /HERO ==================== */

/* ==================== Features ==================== */

.features-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--card-set-gap);
    row-gap: calc(var(--card-set-gap) * 3);
}

.features-icon-bg {
    display: none;
}

/* ==================== /Features ==================== */

/* ==================== About ==================== */

/* ==================== /About ==================== */

/* ==================== Employees ==================== */

.employees {
    background-color: var(--secondary-bg-color);
}

.employees-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: var(--card-set-gap);
    row-gap: calc(var(--card-set-gap) * 3);
}

.employees-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    flex-basis: calc((100% - 3 * var(--card-set-gap)) / 4);
    text-align: center;
}

.employees-card {
    padding: 32px 16px;
    background-color: var(--primary-bg-color);
    border-radius: 0px 0px 4px 4px;
}

.employees-text {
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: var(--card-set-gap);
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--secondary-text-color);
    transition: background-color var(--transition-dur-and-func);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--accent-color);
}

.social-list-icon {
    fill: var(--secondary-bg-color);
}

/* ==================== /Employees ==================== */

/* ==================== CUSTOMERS ==================== */

.customers-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: var(--mobile-set-gap);
    row-gap: calc(var(--card-set-gap) * 3);
}

.customers-list-link {
    transition: border-color var(--transition-dur-and-func);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
}

.customers-list-link:hover,
.customers-list-link:focus {
    border-color: var(--accent-color);
}

.customers-list-link:is(:hover, :focus) .customers-list-icon {
    fill: var(--accent-color);
}

.customers-list-icon {
    transition: fill var(--transition-dur-and-func);
    fill: #8E8F99;
}

/* ==================== /CUSTOMERS ==================== */

/* ==================== FOOTER ==================== */


.page-footer {
    padding: 96px 0;
    background-color: var(--title-text-color);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
}

.footer-logo {
    margin-bottom: 16px;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.second-word-logo-footer {
    color: var(--secondary-bg-color);
}

.footer-text {
    max-width: 264px;
    color: var(--third-text-color);
}

.social-footer-title {
    display: flex;
    font-weight: 500;
    color: var(--primary-bg-color);
    margin-bottom: 16px
}

.social-list-footer {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.social-footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-dur-and-func);
}

.social-footer-link:hover,
.social-footer-link:focus {
    background-color: #31D0AA;
}

.social-footer-icon {
    fill: var(--secondary-bg-color);
}

.footer-form-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--mobile-set-gap);
    column-gap: var(--card-set-gap);
}

.footer-form-input {
    color: var(--primary-bg-color);
    min-width: 264px;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    transition: border-color var(--transition-dur-and-func);
}

.footer-form-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:focus {
    outline: none;
    border-color: var(--secondary-text-color);
}

.footer-form-submit {
    transition: background-color var(--transition-dur-and-func);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    border-radius: 4px;
    padding: 8px 24px;
    text-align: center;
    align-items: center;
    border: 1px solid transparent;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-bg-color);
    background-color: var(--secondary-text-color);
    cursor: pointer;
}

.footer-form-submit:hover,
.footer-form-submit:focus {
    background-color: var(--accent-color);
}

.footer-input-icon {
    margin-left: 16px;
    fill: var(--primary-bg-color);
}

/* ==================== /FOOTER ==================== */


/* ==================== MODAL WINDOW ==================== */

.backdrop {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity var(--transition-dur-and-func),
        visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 72px;
    padding-right: 16px;
    padding-bottom: 24px;
}

.modal-close-btn {
    transition: background-color var(--transition-dur-and-func),
        border-color var(--transition-dur-and-func);
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    padding: 0;
    background-color: var(--third-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--primary-bg-color);
}

.modal-close-btn-icon {
    fill: #000000;
    transition: fill var(--transition-dur-and-func);
}

/* ==================== /MODAL WINDOW ==================== */

/* ==================== MODAL FORM ==================== */

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-title {
    margin-bottom: 16px;

    font-weight: 500;
    text-align: center;
}

.modal-form-field {
    margin-bottom: 8px;
}

.input-form {
    margin-bottom: 16px;
}

.modal-form-input-desc {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.modal-form-input-wrapper {
    display: block;
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;

    transition: border-color var(--transition-dur-and-func);
}

.modal-form-input:focus {
    outline: none;
    border-color: var(--secondary-text-color);
}

.modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    transition: fill var(--transition-dur-and-func);
}

.modal-form-input:focus+.modal-form-input-icon {
    fill: var(--secondary-text-color);
}

.modal-form-message {
    display: block;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;

    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--transition-dur-and-func);
}

.modal-form-message::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
    outline: none;
    border-color: var(--secondary-text-color);
}

.modal-form-check-desc {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    font-size: 8px;
    line-height: 1.3px;
    letter-spacing: 0.02em;
    color: #757575;
}

.modal-form-check-desc::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border: 1.25px solid var(--title-text-color);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;

    transition: background-color var(--transition-dur-and-func),
        border-color var(--transition-dur-and-func);
}

.modal-form-check:checked+.modal-form-check-desc::before {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-image: url(../images/vector.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.modal-form-submit {
    align-self: center;
    transition: background-color var(--transition-dur-and-func);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: inline-block;
    border-radius: 4px;
    padding: 16px 32px;
    text-align: center;
    border: 1px solid transparent;
    min-width: 169px;
    min-height: 56px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-bg-color);
    background-color: var(--secondary-text-color);
    cursor: pointer;

}

.modal-form-submit:hover,
.modal-form-submit:focus {
    background-color: var(--accent-color);
}

.policy-link {
    display: inline-block;
    margin-left: 4px;
}

/* ==================== /MODAL FORM ==================== */



/* ==================== PORTFOLIO ==================== */

.portfolio {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 48px;
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: var(--card-set-gap);
    row-gap: var(--mobile-set-gap);
    margin-bottom: 48px;
}

.filter-btn {
    padding: 8px 16px;
    border: 1px solid var(--third-text-color);
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
    cursor: pointer;
    transition: color var(--transition-dur-and-func),
        background-color var(--transition-dur-and-func),
        border-color var(--transition-dur-and-func),
        box-shadow var(--transition-dur-and-func);
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: calc(var(--card-set-gap) * 2);
}

.works-item-link {
    display: block;
    transition: box-shadow var(--transition-dur-and-func);
}

.works-item-link:hover,
.works-item-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.works-item-link:hover .overlay,
.works-item-link:focus .overlay {
    transform: translate(0, 0);
}

.works-card {
    padding: 32px 16px;
    border: 1px solid var(--third-text-color);
    border-top: none;
}

.works-img-wrapper {
    overflow: hidden;
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform var(--transition-dur-and-func);

    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 40px;
    padding-left: 32px;
    color: var(--secondary-bg-color);
    background-color: var(--secondary-text-color);
}

/* ==================== /PORTFOLIO ==================== */

/* ==================== @MEDIA ==================== */

/* 0-767 */
@media screen and (max-width:767px) {

    /* HEADER */

    /* Features */
    .features-title {
        text-align: center;
    }

    /* Footer */
    .footer-container,
    .footer-logo,
    .social-footer-title,
    .footer-form-wrapper {
        justify-content: center;
    }

    .footer-form-field,
    .footer-form-input {
        width: 100%;
    }
}

/* 0-1199 */
@media screen and (max-width:1199px) {

    /* HEADER */

    /* Features */
    .features-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-transform: capitalize;
    }

    .features-text {
        font-weight: 500;
    }

    /* About */
    .about.section {
        display: none;
    }

    /* FOOTER */
    .footer-container {
        row-gap: calc(var(--card-set-gap) * 3);
        column-gap: var(--card-set-gap);
    }
}